<!-- Revision: $Id$ -->
<h1>Where's Orazi</h1>

<hr>

<h2>Authors</h2><br>
* Nir Hershko<br>
* Uri Shaked<br>
* Zvi<br>

<br>
<h2>Created during pyweek 3</h2>
<br>
<h3>
This game has been approved by someone without any authority to do so,
whose resemblance to anyone living or dead is merely a coincidence.<br>
</h3>
<br><br><br>