<!-- Revision: $Id$ -->
<h1>Online Help</h1>
<br>
<h2>Game Objective</h2><br>
Where is Orazi?<br>
<br>
<h2>Game Control</h2><br>
Use the arrow keys to move<br>
S to place/rotate/remove signs<br>
PageUp/PageDown/Mouse-Scroll changes the camera distance<br>
RightMouse + Drag changes the camera angle<br>
<br>