<!-- Revision: $Id$ -->
<br />
<br />
<br />

<table valign='top'>
	<tr>
		<td height='15'>
		</td>
	</tr>
	<tr>
		<td width='25'>
		</td>
		<td>
			Game Levels:<br>
			<object type="gui.List" id="levelList" width='150' height='110'>
			</object>
		</td>
		<td width='15'>
		</td>
		<td valign='top'>
			<br /><br />
			<input type='button' value='Play'	id='playButton'  width='80' style='margin-bottom: 3' /><br />
			<input type='button' value='Resume'	id='resumeButton'  width='80' style='margin-bottom: 3' /><br />
			<input type='button' value='About'	id='aboutButton' width='80' style='margin-bottom: 3' /><br />
			<br />
			<input type='button' value='Exit'	id='exitButton'  width='80' /><br />
		</td>
	</tr>
</table>
