<!-- Revision: $Id: findorazi.html 1021 2006-09-09 21:43:11Z nirh $ -->
<h1>Avoid Orazi</h1>
<br>
Orazi, the city's police officer, has gone mad <b>AGAIN!</b><br>
He occassionally trying to capture innocent Huyals and turn them to Medugamim.<br>
As a Huyal, you must avoid him in any cost in order not to become a Medugam yourself.<br>
You may see where he is by all the Medugamim around him.<br>
You need to survive only some amount of time, as after that, the mayor will come and Orazi will be too busy to try and capture Huyals.<br><br><br>