<!-- Revision: $Id$ -->
<h1>Find Orazi</h1>
<br>
Orazi, the city's police officer, <b>has disappeared</b>, and now he is nowhere to be found.<br>
As he is gone, mayhem has broke loose on the Huyal-city and there is chaos everywhere.<br>
You are Frienda, Orazi's faithful canine. You are assigned to find him in order to restore the order to the city.<br>
Use the S key to place, rotate and pick up signs for Orazi, to help you to find him.<br>
Remember! you have a limited number of signs and a limited time before the mayor comes to check the city.<br><br><br>