<!-- Revision: $Id: findorazi.html 1011 2006-09-09 17:34:41Z uri $ -->
<h1>Find Orazi</h1>
<br>
Orazi, the city's police officer, has disappeared<b>AGAIN</b>, and again he is nowhere to be found.<br>
As he is gone, mayhem has broke loose again on the Huyal-city and there is chaos everywhere.<br>
As Frienda, Orazi's faithful canine, you are assigned to find him in order to restore the order to the city.<br>
Use the S key to place, rotate and pick up signs for Orazi, to help you to find him.<br>
Remember! you have a limited number of signs and this time it's even more limited time before the mayor comes to check the city.<br>
Moreover, the city has got bigger so it will be harder for you to find Orazi.<br><br><br>