/* Revision: $Id$ */

h1 {
	color: #808080;
	font-family: cursive;
	font-size: 20pt;
}

h2 {
	background-color: #dddddd;
	margin-top: 32px;
	margin-bottom: 6px;
	font-variant: small-caps;
	font-size: 16pt;
}

h3 {
	font-size: 12pt;
}

div.Indent1 {
	margin-left: 20px;
}

span.Revision  {
	font-size: 8pt;
	font-family: monospace;
}

span.MemberName {
	color: #600000;
	font-weight: bold;
}
